---
title: About - Clément Nonciaux
id: about
---

<div class="layout-content">
  <div class="layout-content-start">
   
    <nav class="languages">
      <ul class="languages__list">
        {% for item in site.data.biography %}
          <li class="languages__item">
            <a class="languages__link" href="#{{ item.tag }}">
              <span class="visually-hidden">{{ item.language }}</span>
              <span aria-hidden>{{ item.abbreviation }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <div class="languages__contentWrapper">
      {% for item in site.data.biography %}
        <section id="{{ item.tag }}" class="languages__content">
          {% include biography.html bio=item %}
        </section>
      {% endfor %}
    </div>
  </div>
</div>
