{% assign events = include.events %}

<ul class="events">
  {% assign previous_event_program = "" %}

  {% for item in events %}
    {% assign current_event_program = item.program %}

    {% if current_event_program != previous_event_program %}
      {% assign has_marker = true %}
    {% else %}
      {% assign has_marker = false %}
    {% endif %}
    {% assign previous_event_program = current_event_program %}

    <li class="events__item {% if has_marker %} events__item--marker{% endif %}">
      <article class="events__details">
        <div class="events__infos">
          {% for date in item.date %}
            <time class="events__time" datetime="{{ date | date_to_xmlschema }}">
              {{ date | date_to_long_string }}
            </time>
          {% endfor %}

          {% if item.type %}
            <span class="events__type">{{ item.type }}</span>
          {% endif %}
        </div>

        <div class="events__location">{{ item.location | markdownify }}</div>

        {% if item.program %}
          <div class="events__program events__content">{{ item.program | markdownify }}</div>
        {% endif %}

        {% if item.soloist %}
          <div class="events__soloist events__content">{{ item.soloist | markdownify }}</div>
        {% endif %}
      </article>
    </li>
  {% endfor %}
</ul>