.events {
  display: flex;
  flex-direction: column;
  gap: calc(var(--layout-gap) * 2);
  padding-inline-start: 1.8rem;

  &__item {
    list-style-type: none;
    
    &--marker {
      list-style-type: disc;
    }
  }

  &__infos {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: calc(var(--layout-gap) / 2);
  }

  &__time {
    font-weight: 500;

    & + &::before {
      content: "- "
    }
  }

  &__type {
    background-color: var(--color-main);
    border-radius: 0.8rem;
    color: var(--color-calendar);
    padding: 0.2rem 0.8rem;
  }

  &__content {
    margin-block-start: 1rem;
  }
}
