.events {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap);
  padding-inline: 1.8rem;
  list-style-type: disc;

  &__time {
    font-weight: 500;
  }

  &__program {
    margin-block-start: 1rem;
  }
}
