.intro {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  &__text {
    @media (min-width: 48em) {
      position: absolute;
      inset-block-start: 2rem;
      inset-inline-end: 0;
      max-width: 40%;
      font-size: 2rem;
    }
  }
}