.navigation {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  &__item {
    flex: 0 0 auto;

    &--current {
      text-decoration: underline;
    }
  }

  &__link {
    font-size: 1.8rem;
    text-decoration-line: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration-line: underline;
    }

    .navigation--secondary & {
      text-transform: none;
    }
  }
}
