.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--layout-gap);

  &__link {
    display: block;
  }

  &__image {
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
}