.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--layout-gap) * 2);

  &__title {
    margin-block-end: 0.5rem;
  }

  &__video {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  &__link {
    display: block;
    margin-block-start: 0.5rem;
  }
}