.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--layout-gap) * 2);

  &__title {
    margin-block-end: 0.5rem;
  }

  &__item {
    & + &::before {
      content: "";
      display: block;
      width: 10rem;
      height: 0.1rem;
      margin: auto;
      margin-block-end: calc(var(--layout-gap) * 2);
      background-color: var(--color-main);
    }
  }

  &__video {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  &__link {
    display: block;
    margin-block-start: 0.5rem;
  }
}