body {
  background-repeat: no-repeat;
  background-attachment: fixed, fixed;

  &#home {
    background-color: var(--color-home);
    background-image: url('/assets/images/clement/clement_4.webp'), linear-gradient(to right, #BBAFE1 20%, #AFA0D7 30%, #A193CE);
    background-position: top max(20rem, 100%) left, center;
    background-size: auto min(max(30rem, calc(100dvh - 20rem)), 87.2rem), cover;
  }

  &#about {
    background-color: var(--color-about);
    background-image: url('/assets/images/clement/clement_1.webp'), linear-gradient(to left, #C6ABDE, #B2A3DC, #A495CE);
    background-position: top 20rem left max(62rem, 100%), center;
    background-size: auto min(max(30rem, calc(100dvh - 20rem)), 70rem), cover;
  }

  &#calendar {
    background-color: var(--color-calendar);
    background-image: linear-gradient(135deg, #D17B96, #DD88A7, #ECA7C4);
    background-position: center;
    background-size: cover;

    .layout-content {
      flex-direction: column;
      gap: var(--layout-gap);

      @media (min-width: 40em) {
        flex-direction: row;
      }
    }

    @media (min-width: 40em) {
      .layout-content-start {
        flex: 1 1 0;
      }

      .layout-content-end {
        flex: 1 1 0;
        position: sticky;
        top: 20vh;
        min-width: 0;
      }

      .layout-image {
        height: 100vh;
        object-fit: contain;
      }
    }
  }

  &#contact{
    background-color: var(--color-contact);
    background-image: url('/assets/images/clement/clement_3.webp'), linear-gradient(125deg, #D37C9A 0%, #ED98B6 14%, #F7BED5 100%);
    background-position: top max(19rem, 100%) right 0, center;
    background-size: auto min(max(30rem, calc(100dvh - 10rem)), 87.2rem), cover;
  }

  &#media {
    background-color: var(--color-media);

    .header {
      background-image: url('/assets/images/clement/clement_beach_portrait.webp');
      color: var(--color-media);

      @media (min-width: 40em) {
        background-image: url('/assets/images/clement/clement_beach_landscape.webp');
        background-position: center;
      }
    }
  }
}
