html {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  padding: 0 var(--layout-gap);
  background-color: var(--color-background);
  color: var(--color-content);
  font-size: 1.6rem;
  font-weight: 400;

  &.dark {
    --color-background: rgb(0, 0, 0);
    --color-content: var(--color-main);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

p,
blockquote {
  margin: 0;
}

blockquote {
  font-style: italic
}

cite {
  font-weight: 500;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:any-link {
  color: inherit;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}
