* {
  box-sizing: border-box;
}

html {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(2 * var(--layout-gap));
  min-height: 100dvh;
  margin: 0;
  padding: var(--layout-gap);
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

p,
blockquote {
  margin: 0;
}

blockquote {
  font-style: italic
}

cite {
  font-weight: 500;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:any-link {
  color: inherit;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

details + details {
  margin-block-start: var(--layout-gap);
}

summary {
  display: inline-block;
  margin-block-end: 1rem;
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
