.layout-container {
  margin-inline: auto;
  width: 100%;
  max-width: 100rem;
}

.layout-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.layout-content-start {
  flex: 1 1 auto;
  max-width: 60rem;
}

.layout-separator {
  &::before {
    content: "";
    display: block;
    width: 15rem;
    height: 0.1rem;
    margin-block-end: calc(var(--layout-gap) * 2);
    background-color: var(--color-main);
  }

  &--centered {
    &::before {
      margin-inline: auto;
    }
  }
}

.layout-image {
  position: relative;
  max-height: calc(100dvh - 29.2rem);
  z-index: -1;
}

.layout-section + .layout-section {
  margin-block-start: calc(var(--layout-gap) * 2);
}

.header {
  flex: 0 0 auto;

  &__home {
    display: inline-flex;
    align-items: center;
    gap: var(--layout-gap);
    margin-block-end: var(--layout-gap);
    font-size: 3rem;
    font-weight: 500;
    text-decoration-line: none;
    text-transform: uppercase;

    @media (min-width: 40em) {
      font-size: 4.4rem;
    }
  }

  &__label {
    flex: 0 1 auto;
  }

  &__logo {
    flex: 0 0 auto;
    filter: drop-shadow(rgb(0,0,0) 0.5rem 0.5rem 2rem);
  }
}

.main {
  flex-grow: 1;
  position: relative;

  .full-height & {
    flex-basis: 0;
  }
}

.footer {
  flex: 0 0 auto;
  
  &__links {
    display: flex;
    justify-content: center;
    gap: var(--layout-gap);
  }

  &__link {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
  }
}

.languages {
  margin-block-end: calc(var(--layout-gap) * 2);
  background-image: var(--background-gradient-about);

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--layout-gap);
  }
}

.full-height {
  height: 100dvh;
}
